[data-sp-feature-tag="PageTitle web part (Banner)"] {
    display: none;
}

[data-automation-id="CanvasZone-SectionContainer"] {
    max-width: 150% !important;
}

#sp-appBar {
    display: none;
}

#spCommandBar {
    display: none;
} 


.hero{
    --background-image-pattern: url(https://learn.microsoft.com/static/assets/0.4.028726178/styles/background-image-pattern-plus.1ce6f23b.svg);
    /* background-color: #06f !important;
    outline-color: #fff !important; */
    background-color: #03787c !important;
    outline-color: #fff !important;
    color: #fff !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    position: relative;
    background-image: var(--background-image-pattern);
    background-size: 200px;
    margin-left: -33px;
    padding: 56px;
    width: 102%;
    margin-left: -33px;
}

.hero-content {
    width: 45%;
    padding-inline-end: 37rem;
    padding-block: 2rem;
    
}

.Description{
    margin: 0 !important;
    padding-block-start: 1rem !important;
}

.content h1 {
    font-size: 35px;
    line-height: 1.3;
}

.content h1:first-of-type {
    margin-top: -10px;
    margin-bottom: 0;
}

.sharepoint {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 44px;
    height: 80px;
    width: 21%;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.Sharepoint-ic {
    color: #03787c;
    font-size: 25px;
    margin-left: 12px;
}

.SharePoint-Details{
    margin: 13px;
    margin-right: 23px;
}

.SharePoint-Details a{
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: #0078d4;
    font-size: 17px;
    text-transform: uppercase;
}

.SharePoint-Details a:hover{
    text-decoration: underline;
}

.SharePoint-Details p{
    font-weight: 400;
    font-size: 11px;
    margin: 3px;
}